.paginator {
  padding: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
.paginator button {
  border: none;
  margin: 0 10px;
  font-size: 1.2rem;
  background-color: transparent;
  border: 1px solid transparent;
}
.paginator span {
  padding: 0 5px;
  border: 1px solid transparent;
}
.paginator button:hover,
.paginator span:hover {
  border: 1px solid black;
  border-radius: 5px;
}
.selectedPage {
  font-weight: 700;
  margin: 5px;
}