.user {
  display: flex;
  align-items: flex-start;
  padding: 10px;
}
.userPhoto {
  width: 90px;
  height: 120px;
}
.userFollowBtn {
  width: 100%;
  border: none;
  padding: 10px 0;
}
.userInfo {
  padding-left: 20px;
}
.userInfo>div {
  padding-top: 5px;
}
