.postsBlock {
  text-align: center;
}
.addPostForm * {
  width: 100%;
}
.addPostForm button {
  padding: 10px 0;
  border: none;
  font-family: monospace;
  text-transform: uppercase;
}
.addPostForm button:hover {
  border: 1px solid #ccc;
}