.nav {
  grid-area: n;
  padding: 20px;
  background-color: hsl(35, 50%, 50%);
}

.item {
  padding: 20px;
}

.item a {
  color: gray;
  text-decoration: none;
  font-size: 26px;
  
  font-family: monospace;
  color: hsl(35, 50%, 30%);
}

.item a.activeLink{
  color: black;
  font-weight: 700;
}
