.item {
  margin-bottom: 10px;
  font-size: 26px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
  background-color: #ddd;
}
.item:nth-child(2n) {
  background-color: #bbb;
}