*,
*::before,
*::after {
  box-sizing: border-box;
}

.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 4fr 1fr;
}

.dialogsItems {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
  padding: 10px;
}

.dialogsItems .active {
  font-weight: 700;
}
.dialog {
  padding: 5px 0;
}

.messages {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.message {
  padding: 5px;
  background-color: hsl(150, 100%, 90%);
}
.message:nth-child(2n) {
  text-align: right;
  background-color: hsl(150, 100%, 70%);
}

.active {
  font-weight: 700;
  color: #000;
}

.submitForm {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  width: 100%;
}
.submitForm textarea {
  width: 100%;
  text-align: center;
}
.submitForm button {
  width: 100%;
}