.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  text-align: center;
  padding: 10px;
}

.dialogsItems .active {
  font-weight: 700;
}
.dialog {
  padding: 5px 0;
}

.messages {
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.message {
  padding: 5px;
  background-color: hsl(150, 100%, 90%);
}
.message:nth-child(2n) {
  text-align: right;
  background-color: hsl(150, 100%, 70%);
}

.active {
  font-weight: 700;
  color: #000;
}